{% extends "Admin/layout.html.twig" %}

{% block title %}お問い合わせ編集{% endblock %}

{% block body %}
    <h2 class="sub-header">お問い合わせ編集</h2>
    {{ form_start(form) }}
    <table class="table">
        <tr>
            <th><i class="fa fa-circle"></i> お名前</th>
            <td>
                {{ inquiry.name }}
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-circle-o"></i> 電話番号</th>
            <td>
                {{ inquiry.tel }}
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-circle-o"></i> お問い合わせ種別</th>
            <td>
                {{ inquiry.type }}
            </td>
        </tr>
        <tr>
            <th><i class="fa fa-circle-o"></i> お問い合わせ内容</th>
            <td>
                {{ inquiry.content }}
            </td>
        </tr>
    </table>
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>ステータス</th>
            <td>
                {{ form_widget(form.processStatus, {"attr": {"class":"form-control"}}) }}
                {{ form_errors(form.processStatus) }}
            </td>
        </tr>
        <tr>
            <th>対応メモ</th>
            <td>
                {{ form_widget(form.processMemo, {"attr": {"class":"form-control"}}) }}
                {{ form_errors(form.processMemo) }}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        {{ form_widget(form.submit, {"attr": {"class":"btn btn-primary"}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}