<% provide(:title, 'All users') %>

<h1>All Users</h1>

<p id="notice"><%= notice %></p>

<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>

<br>

<%= link_to 'New User', new_user_path %>
