<% provide(:title, @user.name) %>

<div class="row">
  <p id="notice"><%= notice %></p>

  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for( @user, size: 60) %>
        <%= @user.name %>
      </h1>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Created At:</strong>
        <%= @user.created_at %>
      </p>

      <p>
        <strong>Updated At:</strong>
        <%= @user.updated_at %>
      </p>


      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>

    </section>
    <section class="col-md-8">
      <% if @user.microposts.any? %>
      <h3>Microposts ( <%= @user.microposts.count %> )</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
      <% end %>
      <%= will_paginate @microposts %>

    </section>
  </aside>
</div>

